<div class="container-fluid landing">
  <div class="row">
    <div class="col-sm-7 left"></div>
    <div class="col-sm-5 right">
      <div class="content">
        <div class="hello">Hello Everyone!</div>
        <div class="welcome">
          Welcome to
          <span>
            <img style="height: 58px; padding-bottom: 2px" src="../../../../../assets/images/Logo-Black.svg" alt=""
              srcset="" />
          </span>
        </div>
        <div class="info">
          <span style="font-weight: 600">Planner Pro</span> - Taking your
          productivity to the next level, My Projects is an intelligent solution
          with role-based access that allows you to review and prioritize your
          projects, manage dependencies and estimations, and generate reports
          like a pro.
        </div>
        <div (click)="login()" class="login">
          <img src="../../../../../assets/images/microsoft_logo.svg" class="icon" alt="Microsoft logo" />
          <div>Sign in with Microsoft</div>
        </div>
      </div>

      <table class="footer">
        <tr>
          <td>
            <a href="https://www.trianz.com/privacy-policy" rel="noopener noreferrer" target="_blank">Privacy Policy</a>
          </td>
          <td class="text-right">© 2020 Pulse. All rights reserved.</td>
        </tr>
      </table>
    </div>
  </div>
</div>