<div>
    <div class="content-container">
      <mat-icon class="closeIconClass" id="close-icon" (click)="closeDialog()">close</mat-icon>
      <p class="imgStyleClass"><img src="../../../../assets/images/error.svg" alt="Error"/></p>
      <p class="content-span full-width textStyleClass">
        <!-- your selected file is invalid format, please upload a valid file format -->
        {{errorValue}}
      </p>
      
    </div>
    <p class="imgStyleClass">
      <button class="btnContinueClass" mat-flat-button color="warn" [mat-dialog-close]="true">Close</button>
    </p>
</div>
  