<div class="app">
    
    <app-loader></app-loader>
    <router-outlet></router-outlet>
    <!-- <div class="sessioncard" *ngIf="sessioncard">
        <div class="modal fade">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body" style="height: 160px;padding: 64px 64px 0px 64px;">
                        <p class="plain-txt mb-0">Your session has expired. Can you please sign in again? </p>
                        <span style="text-align: center;margin-left: 25%;" >Sorry for any inconvenience</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">
                            <a  (click)="logout()" style="color: white;text-decoration: none;">Sign Out</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
